

#btn_scroll{
  width: 30px;
  height: 30px;
  border: none;
  background-color: rgb(246, 246, 36);
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}